@use "../components/mixins" as *;
@use "../components/colors" as *;

.footer {
  background-color: $white;
  padding-top: 16px;
  padding-bottom: 24px;
}

.footer__wrap {
  @include container;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  width: 156px;
  height: 32px;
  margin: 0 16px 0 0;
  background-image: url('../images/logo.svg');

  [dir="rtl"] & {
    margin: 0 0 0 16px;
  }
}

.footer__social {
  @include reset-list;
  display: flex;
  margin-top: 24px;
}

.social {
  width: 24px;
  height: 24px;
  cursor: pointer;

  & + & {
    margin: 0 0 0 8px;

    [dir="rtl"] & {
      margin: 0 8px 0 0;
    }
  }

  &--fb { background-image: url("../images/facebook.svg"); }
  &--tw { background-image: url("../images/twitter.svg"); }
  &--ln { background-image: url("../images/linkedin.svg"); }
  &--yt { background-image: url("../images/youtube.svg"); }
  &--ig { background-image: url("../images/instagram.svg"); }
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  color: $gray-99;
  margin-top: 16px;
}

.copyright__list {
  @include reset-list;
  display: flex;

  li::before {
    content: "•";
    display: inline-block;
    padding: 0 4px;
  }
}

@media (min-width: 640px) {
  .footer {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .footer__wrap {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer__social {
    margin-top: 4px;
    [dir="ltr"] & { margin-left: auto; }
    [dir="rtl"] & { margin-right: auto; }
  }

  .copyright {
    width: 100%;
    margin-top: 12px;
  }
}

@media (min-width: 1024px) {
  .footer__social {
    order: 1;
  }

  .copyright {
    width: auto;
  }

  .copyright__list {
    width: auto;
  }
}
