@font-face {
  font-family: "Kaspersky Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://go.kaspersky.com/rs/802-IJN-240/images/KasperskySans-Light.woff2") format("woff2"), url("https://go.kaspersky.com/rs/802-IJN-240/images/KasperskySans-Light.woff") format("woff");
}

@font-face {
  font-family: "Kaspersky Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://go.kaspersky.com/rs/802-IJN-240/images/KasperskySans-Regular.woff2") format("woff2"), url("https://go.kaspersky.com/rs/802-IJN-240/images/KasperskySans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Kaspersky Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://go.kaspersky.com/rs/802-IJN-240/images/KasperskySans-Bold.woff2") format("woff2"), url("https://go.kaspersky.com/rs/802-IJN-240/images/KasperskySans-Bold.woff") format("woff");
}
