@import "colors.scss";

@mixin button {
	position: relative;
	display: inline-block;
	padding: 0;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	background-color: transparent;
	border: none;
	cursor: pointer;
	user-select: none;

	&:hover {
		text-decoration: none;
	}

	&:disabled {
		pointer-events: none;
	}
}

@mixin button-text {
	@include font(500);
	padding: 12px 24px;
	font-size: 16px;
	line-height: 20px;
	border: 2px solid;
	border-radius: 8px;
}

@mixin button-primary-green {
	color: $white;
	background-color: $green;
	border-color: $green;
	transition: border-color 0.3s ease, background-color 0.3s ease;

	&:hover, &:focus {
		color: $white;
		background-color: $teal;
		border-color: $teal;
	}

	&:active {
		color: $white;
		background-color: $dark-green;
		border-color: $dark-green;
	}

	&:disabled {
		color: $gray-cc;
		background-color: $gray-f2;
		border-color: $gray-f2;
	}
}

@mixin button-primary-green-shadow {
	color: $white;
	background-color: $green;
	border-color: $green;
	box-shadow: 0px 8px 32px rgba(52, 208, 184, 0.48);
	transition: border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;

	&:hover, &:focus {
		color: $white;
		background-color: $teal;
		border-color: $teal;
		box-shadow: 0px 12px 40px rgba(21, 190, 164, 0.48);
	}

	&:active {
		color: $white;
		background-color: $green;
		border-color: $green;
		box-shadow: none;
	}

	&:disabled {
		color: $gray-cc;
		background-color: $gray-f2;
		border-color: $gray-f2;
		box-shadow: none;
	}
}

@mixin button-primary-black {
	color: $white;
	background-color: $black;
	border-color: $black;
	box-shadow: 0px 8px 32px rgba(0, 95, 80, 0.52);
	transition: box-shadow 0.3s ease, color 0.3s ease;

	&:hover, &:focus {
		color: $teal;
		box-shadow: 0px 12px 32px rgba(0, 95, 80, 0.64);
	}

	&:active {
		color: $green;
		box-shadow: none;
	}

	&:disabled {
		color: $gray-cc;
		box-shadow: none;
		opacity: 0.16;
	}
}

@mixin button-primary-red {
	color: $white;
	background-color: $energy-red;
	border-color: $energy-red;
	transition: border-color 0.3s ease, background-color 0.3s ease;

	&:hover, &:focus {
		color: $white;
		background-color: $energy-red-hover;
		border-color: $energy-red-hover;
	}

	&:active {
		color: $white;
		background-color: $energy-red-hover;
		border-color: $energy-red-hover;
	}

	&:disabled {
		color: $gray-cc;
		background-color: $gray-f2;
		border-color: $gray-f2;
	}
}

@mixin button-primary-red-shadow {
	color: $white;
	background-color: $energy-red;
	border-color: $energy-red;
	box-shadow: 0px 8px 32px rgba(255, 55, 72, 0.32);
	transition: border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;

	&:hover, &:focus {
		color: $white;
		background-color: $energy-red-hover;
		border-color: $energy-red-hover;
		box-shadow: 0px 8px 32px rgba(255, 55, 72, 0.4);
	}

	&:active {
		color: $white;
		background-color: $energy-red-hover;
		border-color: $energy-red-hover;
		box-shadow: none;
	}

	&:disabled {
		color: $gray-cc;
		background-color: $gray-f2;
		border-color: $gray-f2;
		box-shadow: none;
	}
}

@mixin button-primary-white {
	color: $green;
	background-color: $white;
	border-color: $white;
	box-shadow: 0px 8px 32px rgba(52, 208, 184, 0.48);
	transition: box-shadow 0.3s ease, color 0.3s ease;

	&:hover, &:focus {
		color: $teal;
		background-color: $white;
		border-color: $white;
		box-shadow: 0px 12px 40px rgba(21, 190, 164, 0.48);
	}

	&:active {
		color: $green;
		background-color: $white;
		border-color: $white;
		box-shadow: 0px 8px 24px rgba(52, 208, 184, 0.24);
	}

	&:disabled {
		color: $gray-cc;
		background-color: $gray-f2;
		border-color: $gray-f2;
		box-shadow: none;
	}
}

@mixin button-secondary-green {
	color: $green;
	border-color: $green;
	transition: border-color 0.3s ease, color 0.3s ease;

	&:hover, &:focus {
		color: $teal;
		border-color: $teal;
	}

	&:active {
		color: $dark-green;
		border-color: $dark-green;
	}

	&:disabled {
		color: $gray-cc;
		border-color: $gray-f2;
	}
}

@mixin button-secondary-black {
	color: $dark-green;
	border-color: $dark-green;
	transition: border-color 0.3s ease, color 0.3s ease;

	&:hover, &:focus {
		color: $black;
		border-color: $black;
	}

	&:active {
		color: $black;
		border-color: $black;
	}

	&:disabled {
		color: $dark-green;
		border-color: $dark-green;
		opacity: 0.48;
	}
}

@mixin button-secondary-white {
	color: $white;
	border-color: $white;
	transition: border-color 0.3s ease;

	&:hover, &:focus {
		color: $white;
		border-color: rgba($white, 0.48);
	}

	&:active {
		color: $white;
		border-color: rgba($white, 0.48);
	}

	&:disabled {
		color: $white;
		border-color: $white;
		opacity: 0.32;
	}
}
