// Основные цвета
$green: #00a88e;
$teal: #23d1ae;
$dark-green: #265951;
$energy-green: #7eff33;
$black: #1d1d1b;
$white: #ffffff;
$light-blue: #adc9d5;

// Вспомогательные цвета
$energy-yellow: #ffe810;
$energy-blue: #27b7ff;
$energy-purple: #8233ff;
$energy-red: #ff3748;
$energy-red-hover: #ed2939;
$precision-salmon: #fcd7c7;
$precision-yellow: #faf39d;
$precision-blue: #bde0f5;
$precision-purple: #9984f5;
$precision-pink: #db5283;

// Оттенки серого
$gray-44: #444444;
$gray-66: #666666;
$gray-99: #999999;
$gray-ae: #aeaeae;
$gray-cc: #cccccc;
$gray-f2: #f2f2f2;
$gray-f8: #f8f8f8;



